* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #CAD2C5;
    color: #2F3E46;
}

header {
    font-family: Impact, sans-serif;
    padding: 20px;
    /* display: inline-block; */
}

header h1 {
    /* display: inline-block; */
    font-size: 50px;
}

header nav{
    /* float: right; */
    padding: 35px;
    margin-right: 20px;
}

header nav ul {
    list-style-type: none;
    margin-right: 30px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li button {
    font-size: larger;
    font-family: Impact, sans-serif;
    margin-right: 50px;
}

.mainStyling {
margin-bottom: 20px;
padding: 50px;
min-height: 300px;
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
background-color: #84A98C;
display: flex;
flex-direction: row-reverse;
justify-content: center;
flex-wrap: wrap-reverse;
}

.mainStyling-mywork {
    margin-bottom: 20px;
padding: 50px;
/* height: 400px; */
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
background-color: #84A98C;
}

.float-right {
    float: right;
    margin: 25px;
}

.mainStyling img {
    max-height: 200px;
    display: inline-block;
}

.mainStyling-mywork img {
    max-height: 200px;
    display: inline-block; 
}

.viewMyWork {
    list-style-type: none;
}

.viewMyWork li {
    display: inline-block;
    margin: 40px;
}

.contact-info {
    display: flex;
    justify-content: center;
}

.mainStyling-contact {
    margin-bottom: 20px;
padding: 50px;
min-height: 300px;
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
background-color: #84A98C;
}


@media screen and (width<648px){
    header nav ul {
        display: flex;
        flex-direction: column;
    }
}